// ***********************************
// IMPORTS
// Import susy, breakpoint, resets and grids
// ***********************************

@import "../bower_components/normalize-css/normalize.css";

// ***********************************
// SOMETHING
// ***********************************

body {
  background-color: pink;
  max-width: 960px;
  margin: 0 auto;

}